.fuzzy-search-panel {
  width: min(50vw, 600px);
  background-color: white;
}


mat-form-field {
  width: 100%;
}

// Needed to allow multi-line mat-options
.mat-option {
  white-space: normal;
  line-height: normal;
}

.mat-caption {
  color: grey;
}
